# Project exclude paths
/target/
.idea/libraries/Maven__org_openjfx_javafx_base_mac_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_mac_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_mac_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_mac_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_11_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_18_ea_6.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_mac_18_ea_6.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_mac_19_ea_7.xml
*.iml
.idea/libraries/Maven__org_openjfx_javafx_base_mac_18_ea_6.xml
.idea/libraries/Maven__org_openjfx_javafx_base_mac_19_ea_7.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_18_ea_6.xml
.idea/libraries/Maven__org_openjfx_javafx_base_mac_18_ea_6.xml
.idea/libraries/Maven__org_openjfx_javafx_base_18_ea_6.xml
.idea/compiler.xml
MailSpamDetectorProject.iml
pom.xml
.idea/libraries/Maven__org_openjfx_javafx_base_18_ea_6.xml
.idea/compiler.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_18_ea_6.xml
.idea/libraries/Maven__org_openjfx_javafx_base_18_ea_6.xml
